body {
  margin: 0px;
  font-family: Arial;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  /*padding: 1rem;
  border: 0.5rem black solid;
  margin: 0.5rem;*/
}

.navbar {
  background: #2196f3;
  color: #ecf0f1;
  margin-bottom: 2rem;
  overflow: auto;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.page-title {
  float: left;
  padding: 0 0 0 2rem;
}

.page-title p {
  font-weight: strong;
}

.navbar__links {
  float: right;
}

.navbar__item {
  display: inline;
  list-style: none;
  padding: 0 2rem 0 0;
}

.navbar__item a {
  color: #ecf0f1;
  text-decoration: none;
}

.container {
  display: block;
  max-width: 100%;
  margin: auto;
}

.post {
  max-width: 25rem;
  margin: auto;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.post__bar {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  background: #2196f3;
  color: #ecf0f1;
  padding: 0.4rem;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}

.post__title {
  position: relative;
  background: #fdc539;
}

.post__title p {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.post__title img {
  position: absolute;
  top: 12.5%;
  left: 0;
  border-radius: 50%;
  width: 2.5rem;
  transform: translate(-100%, 0)
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
}


.post__content {
  margin: 0.5rem;
}
